.l-heading {
    font-size: 2rem;
}

.m-heading {
    font-size: 1rem;
}

#main-nav  .nav-container{
    justify-content: space-around;
}

.btn {
    padding: .3rem .9rem;
}


#skills .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

#skills .container * {
    margin-top: .5rem;
}


#contact {
    height: auto;
}

#contact .contact-form {
    width: 450px;
    padding: .3rem;
    margin-top: 10px;
    background-color: var(--light-color);
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 10px;
  }

@media (max-height: 370px) {
    #skills {
        font-size: .8rem;
    }
    #skills .container * {
        margin-top: .3rem;
    }
}
