<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the original logickoder's Website">
    <meta name="keywords" content="developer, logickoder, jeffery">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='./favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css/style.css')}}">
    <link rel="stylesheet" media="screen and (max-width: 500px)"
        href="{{url_for('static', filename='./css/mobile.css')}}">
    <link rel="stylesheet" media="screen and (min-height: 900px)"
        href="{{url_for('static', filename='./css/portrait.css')}}">
    <link rel="stylesheet" media="screen and (max-height: 500px)"
        href="{{url_for('static', filename='./css/landscape.css')}}">
    <title>logickoder | Software Engineer</title>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
</head>

<body id="home">
    <!-- Navbar -->
    <nav id="main-nav">
        <div class="nav-container">
            <a href="#home">
                <h1 class="logo">
                    <span class="text-primary">logickoder</span>
                </h1>
            </a>
            <div id="nav-links">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact" class="btn"> <small> CONTACT ME</small></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Showcase -->
    <header id="showcase">
        <div class="container">
            <div class="showcase-container">
                <div class="showcase-content">
                    <h1 class="l-heading">I'm <span>Jeffery</span> Orazulike</h1>
                    <h1 class="m-heading">A Software Engineer</h1>
                    <a href="https://www.twitter.com/logickoder/" target="_blank" class="btn btn-primary">Want to
                        talk?</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Section: About Me -->
    <section id="about">
        <div class="container">
            <div class="about-container">
                <div class="about-image"></div>
                <div class="about-content">
                    <h1>About Me</h1>
                    <article>

                        <p>
                            <span class="m-heading">Hi</span>, I'm Jeffery Orazulike, also known as logickoder. I'm a
                            mobile and backend developer with
                            more than two years of
                            experience in Kotlin and Dart programming languages.
                        </p>
                        <p>
                            I love solving logical problems relating to
                            code and creating
                            beautiful and functional apps for Android and Flutter platforms.
                        </p>
                        <p>
                            I'm currently working on some
                            personal projects such as
                            a QR code payment app, an expense manager app. I'm also trying to
                            get into open source by
                            contributing to projects like Notify and Widgetbook.
                        </p>
                        <p>
                            You can find some of my work on <a href="https://github.com/logickoder">Github</a>
                            and read some of my articles on <a href="https://medium.com/@logickoder">Medium</a>. I'm
                            always
                            eager to learn new things and collaborate with other developers.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Skills -->
    <section id="skills">
        <div class="container">
            <div class="skill-container">
                <h1 class="l-heading">MY SKILLS</h1>
                <div class="items">
                    <div class="item">
                        <div class="subject">
                            <h1>HTML5</h1>
                            <p>90%</p>
                        </div>
                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100" style="width:90%"><span>90%</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="subject">
                            <h1>CSS3</h1>
                            <p>80%</p>
                        </div>
                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100" style="width:75%"><span>75%</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="subject">
                            <h1>Java</h1>
                            <p>80%</p>
                        </div>
                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100" style="width:80%"><span>80%</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="subject">
                            <h1>VB.NET</h1>
                            <p>60%</p>
                        </div>
                        <div class="progress-bar color-2" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width:60%"><span>60%</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="subject">
                            <h1>Android Development</h1>
                            <p>60%</p>
                        </div>
                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width:60%"><span>60%</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="subject">
                            <h1>C#</h1>
                            <p>60%</p>
                        </div>
                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width:60%"><span>60%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- Section: Contact -->
    <section id="contact">
        <div class="container">
            <div class="contact-form">
                <h2 class="m-heading">Contact Me</h2>
                <p>Please use the form below to contact me</p>
                <form name="contact_form" method="POST" data-netlify="true">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" name="phone" id="phone" placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" placeholder="Enter Message"></textarea>
                    </div>
                    <input type="submit" value="Send" class="btn btn-dark" onclick="validate()">
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="social-sites">
                <p>Visit me on</p>
                <div>
                    <a href="http://facebook.com/logickoder" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="http://twitter.com/logickoder" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="http://instagram.com/logickoder" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="http://linkedin.com/in/logickoder" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <p>Copyright &copy; 2023, logickoder, All Rights Reserved</p>
    </footer>


    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


    <!-- Local JS File -->
    <script src="{{url_for('static', filename='./script/main.js')}}"></script>
</body>

</html>